PORT=3000
MONGODB_URI=mongodb://localhost:27017/ticketerra_simple
JWT_SECRET_KEY=ticketerra_secret_key_2026_jwt

# Cấu hình lưu trữ ảnh Cloudinary (lấy từ https://cloudinary.com/console)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
