/* body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
.login-container {
  /* background: #fff; */
  /* padding: 30px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.login-form {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}
.error-message {
  color: grey;
  font-size: 10px;
}
.login-text {
  color: white;
  font-size: 23px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  background-color: #4caf50;
}
.login-note {
  margin-top: 8px;
  font-size: 14px;
  color: #c11111; /* softer gray text */
  background-color: #ffffff; /* light background highlight */
  padding: 8px 12px;
  border-left: 3px solid #0de499; /* accent line to match your theme */
  border-radius: 4px;
}
.login-container {
  margin: auto;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-container button {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.login-container button:hover {
  background: #45a049;
}

.home-link {
  /* text-align: center; */
  margin-top: 15px;
  font-weight: 100;
  font-size: 14px;
}

.home-link a {
  text-decoration: none;
  color: #878d93; /* Blue link */
  font-weight: 100;
}

.home-link a:hover {
  color: #78a192; /* Darker blue on hover */
}
